.componentLayoutSectionMain {
  background-color: #442220;
  width: 100%;
  height: 100vh;
}
.backgroundBlockSection {
  background-color: #ffffff;
  width: 25%;
  height: 100vh;
  margin-left: 10%;
}
