.componentLayoutStartMain {
  background-color: #442220;
  width: 100%;
  height: 100vh;
}
.backgroundBlockStart {
  background-color: #ffffff;
  width: 25%;
  height: 100vh;
  margin-left: 10%;
}
.navHeader {
  position: absolute;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 0.5pt;
}
.navItemLogin {
  text-decoration: none;
  color: white;
}

.NavHeaderSection {
  flex: 1;
}

.navItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.contentMain {
  display: absolute;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 18pt;
  transform: rotate(90deg) translateX(90%) translateY(-90%);
}
img {
  width: 1050px;
  height: 390px;
  position: absolute;
  top: 190px;
  right: 0px;
}
