.componentLayoutStartMain {
  background-color: #442220;
  width: 100%;
  height: 100vh;
}
.backgroundBlockStart {
  background-color: #ffffff;
  width: 370px;
  height: 100vh;
  margin-left: 10%;
}
.navHeader {
  position: absolute;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 0.5pt;
}
.navItemLogin {
  text-decoration: none;
  color: white;
}

.NavHeaderSection {
  flex: 1;
}

#loginright a {
  margin-left: auto;
  margin-right: 40px;
  display: block;
  padding: 10px 30px;
  background-color: white;
  color: #442220;
  border-radius: 10px;
}

.navItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  text-transform: uppercase;
}
.contentMain {
  display: absolute;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 18pt;
  transform: rotate(90deg) translateX(80%) translateY(-60%);
}
.startImage {
  //besser als a fixe zahl, weil denn gohts nie über da balken!
  width: 70%;
  height: 390px;
  position: absolute;
  top: 155px;
  right: 0px;
  //des macht das des bild des größer wird
  max-width: 1500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
